body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-banner {
  padding-top: 64px;
  
  background-color: #0d234f;
}

.banner-container {
  display: flex;
  justify-content: space-between;

  text-align: left;
}

.white-text {
  color: #fff;
}

.text-left {
  text-align: left;
}

.sub-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}